{% extends 'header.html'%}
{% load static%}
{% block  content %}	
	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Change Password</h1>
					<nav class="d-flex align-items-center">
						<a href="{% url 'index' %}">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="{% url 'change-password' %}">Change Password</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->
	
	<!-- End Sample Area -->
	<!-- Start Button -->
	<!-- End Button -->
	<!-- Start Align Area -->
<center>
	<br>
	<h1>{{msg}}</h1>
	<div class="col-lg-12">
		<div class="login_form_inner">
			<form class="row login_form" action="{% url 'change-password' %}" method="post" id="contactForm" novalidate="novalidate">
				{% csrf_token %}
				<div class="col-md-12 form-group">
					<input type="text" class="form-control" placeholder = "Enter Your Current Password" name="password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Your Current Password'" required>
				</div>
				<div class="col-md-12 form-group">
					<input type="text" class="form-control" placeholder = "Enter Your New Password" name="npassword" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Your New Password'" required>
				</div>
				<div class="col-md-12 form-group">
					<input type="text" class="form-control" placeholder = "Re-Enter Your New Password" name="cpassword" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Re-Enter Your New Password'" required>
				</div>
				<div class="col-md-12 form-group">
					<button type="submit" value="submit" class="primary-btn">Update Profile</button>
				</div>
			</form>
		</div>
	</div>	
</center>
	
	<!-- End Align Area -->


{% endblock %}