{% extends 'header.html'%}
{% load static%}
{% block  content %}
	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Sign-Up/Register</h1>
					<nav class="d-flex align-items-center">
						<a href="{% url 'index' %}">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="category.html">OTP/Register</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src="{% static 'img/login.jpg' %}" alt="">
						<div class="hover">
							<h4>Quote of The Day!! </h4>
							<p>If You get Tired, Learn to Rest, Not to Quit.</p>
							
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Sign Up to enter</h3>
						<form class="row login_form" action="{% url 'forgot-password' %}" method="post" id="contactForm" novalidate="novalidate">
                            {% csrf_token %}
                            <div class="col-md-12 form-group">
								<input type="text" class="form-control" id="email" name="email" placeholder="Enter Your Email For the Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'email'">
							</div>
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="primary-btn">Reset Password</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->

	{% endblock %}